{
  "swagger": "2.0",
  "info": {
    "description": "Horaires estimés des prochains passages aux arrêts.\n\nActuellement, les horaires de prochains passages à un arrêt en temps réel ne sont disponibles que pour une partie du réseau d’Ile-de-France. L’ensemble des arrêts du réseau seront progressivement disponibles.\n\nLe Jeu de données [Périmètre des données temps réel disponibles sur la plateforme d'échanges Île-de-France Mobilités](https://data.iledefrance-mobilites.fr/explore/dataset/perimetre-tr-plateforme-stif/information/) expose la liste des arrêts par ligne/ transporteurs concernés par ce service.\n\nLes requêtes et réponses sont exprimées au format SIRI Lite, vous trouverez plus d’informations sur ce format d’échange de données dans la documentation technique.\n\n----------\n\n**Points d’entrée sur l’API**\n\nLes points d'entrée implémentés permettent de simplifier l'utilisation de l'API en répondant aux principaux cas d'usages.\n\n`GET` /stop-monitoring/{MonitoringRef}\n\n----------\n\n**Accès à l'API**\n\nVous devez être connecté à [votre compte utilisateur](https://portal.api.iledefrance-mobilites.fr/fr/sign-in-fr) pour accéder à l'API.\n\nVous avez également la possibilité d'ouvrir votre accès à des applications tierces. Vous devez pour cela utiliser une clé d'API, obtenue [via le portail de votre compte](https://opendata.stif.info/account) (Rubrique \"Mes Clés d'API\" -> \"Générer une clé d'authentification\"). Plus d'informations dans la documentation générale.\n\n----------\n**Documentation générale**\n\n[Une documentation générale](https://portal.api.iledefrance-mobilites.fr/images/com_apiportal/doc/IDFM-portailAPI-documentation.pdf) permet de mieux appréhender l’API et d’en connaître les précautions d'usage.\n\n----------\n\n**Conditions Générales d'Utilisation de l'API et licence des données**\n\nL'utilisation de l'API Île-de-France Mobilités est soumise à des [Conditions Générales d'Utilisation](https://portal.api.iledefrance-mobilites.fr/fr/cgu) Les données issues de l'API Île-de-France Mobilités sont soumises à la licence [Open Database License (OdBL)](https://spdx.org/licenses/ODbL-1.0.html#licenseText)\n",
    "version": "1.0.0",
    "title": "Prochains passages (plateforme Île-de-France Mobilités) - requête unitaire"
  },
  "host": "prim.iledefrance-mobilites.fr",
  "basePath": "/marketplace",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "APIKeyHeader": {
      "type": "apiKey",
      "in": "header",
      "name": "apikey"
    }
  },
  "security": {
    "APIKeyHeader": []
  },
  "paths": {
    "/stop-monitoring": {
      "get": {
        "description": "Horaires estimés des prochains passages aux arrêts. \n\nActuellement, les horaires de prochains passages à un arrêt en temps réel ne sont disponibles que pour une partie du réseau d’Ile-de-France. L’ensemble des arrêts du réseau seront progressivement disponibles.\n\nLe Jeu de données Périmètre des données temps réel disponibles expose la liste des arrêts par ligne/ transporteurs concernés par ce service.\n\nLes requêtes et réponses sont exprimées au format SIRI Lite, vous trouverez plus d’informations sur ce format d’échange de données dans la documentation technique.\n\nPoint d'entrée pour récupérer les informations de type \"Passage\"",
        "operationId": "getPassages",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "MonitoringRef",
            "in": "query",
            "description": "Stop Point ID (exemple arrêt Châtelet les Halles : \"STIF:StopPoint:Q:473921:\") \n ou Stop Area ID (exemple zone de corespondance Châtelet les Halles : \"STIF:StopArea:SP:474151:\")",
            "required": true,
            "type": "string"
          },
          {
            "name": "LineRef",
            "in": "query",
            "description": "Identifiant CodifLigne de la ligne. (Exemple RER A : \"STIF:Line::C01742:\")",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StopMonitoringResponseDelivery"
            }
          },
          "400": {
            "description": "BAD Request : La requête contient des identifiants qui sont inconnus"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        }
      }
    }
  },
  "definitions": {
    "StopMonitoringResponseDelivery": {
      "type": "object"
    }
  }
}